<div class="header">
    <h1 class="name">PABLO ESTRADA</h1>
    <h2 class="profession">software developer</h2>
</div>
<div class="second-section">
    <div class="article">
        <h3 class="story-label">My Story</h3>
        <p class="story-text">My name is Pablo, and I've been developing software for the last three years. I started experimenting my sophomore year of high school, and before I knew it, a few years later, I am a computer science student at the University of Florida! I love to tinker with new technologies, and I've been exposed to anything from programming an animatronics in Python to dabbling with Swift for an iOS game.</p>
    </div>
    <div class="article-two">
        <h3 class="story-label">Some of my abilities</h3>
        <p class="ability-item">Java</p>
        <p class="ability-item">Python</p>
        <p class="ability-item">Swift</p>
        <p class="ability-item">HTML/CSS</p>
        <p class="ability-item">Git</p>
        <p class="ability-item">Photoshop</p>
        <p class="ability-item">Spanish (Fluent)</p>
    </div>

</div>
<div class="third-section"></div>

<%= link_to 'About', about_path %>
